.control-section-construction-hub h3.accordion-section-title {
    background: #e8151b !important;
    color: #fff !important;
}
a.button.button-secondary.alignright{
    background: #ffffff;
    color: #e8151b !important;
    padding: 0 2px;
    margin-top: -4px;
}
